* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: sans-serif;
  text-align: center;
}


.logoImage{
  width: 60px;
  animation: App-logo-spin infinite 10s linear;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeSection{
  width: 100%;
  clear: both;
  height: 100vh;
}
.headerSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 50px;
  float: left;
  background: transparent;
  margin-bottom: 20px;
}

.headerSection.sticky {
  position: fixed;
  background: #000;
  padding: 10px 50px;
}

.headerSection .logo {
  float: left;
}

.headerSection .logo a {
  color: #fff;
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

.headerSection .menuList {
  list-style: none;
  float: right;
  margin-top: 0;
}

.headerSection .menuList li {
  display: inline;
}

.headerSection .menuList li a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  position: relative;
  font-family: 'Athiti', sans-serif;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-decoration: none;
}

.headerSection .menuList li a:after {
  position: absolute;
  content: "";
  width: 0px;
  height: 2px;
  bottom: 6px;
  left: 50%;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.headerSection .menuList li a:hover:after {
  width: 20px;
  margin-left: -10px;
}

.headerSection .menuList .current a:after {
  width: 20px;
  margin-left: -10px;
}

.headerSection.sticky {
  position: fixed;
  background: #000;
  padding: 10px 50px;
}

.headerSection.sticky .logo img {
  height: 55px;
}

.headerSection.sticky .menuList li a {
  color: #a0a0a0;
}

.responsive {
  display: none;
}

@media only screen and (max-width: 767px) {
  .responsive {
    display: block;
    color: #fff;
    font-size: 34px;
    position: absolute;
    right: 30px;
  }
}



.homepageSection{
  margin-top: 60px;
  padding-top: 20px;
  
}

.introSection {
  height: 100vh;
  position: relative;
  background: url(./images/bg.jpg) left top no-repeat;
  background-size: cover;
}

.bgCms {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bgCms:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}


.introButton {
  position: absolute;
  bottom: 50px;
  left: 43%;
}

.introButton a:hover {
  color: #fff;
}

.siteBtn:hover {
  color: #fff;
}

#round {
  position: absolute;
  top: 0;
  left: 0;
}

.introInner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: table;
}

.introInner .introContent {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.introInner .introContent .container {
  padding-left: 60px;
}

.introInner .introContent h2 {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  letter-spacing: -10px;
  font-weight: bold;
}

.introInner .introContent p {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
}

.contentUp {
  position: relative;
  z-index: 10;
}

.typedCursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.socialLinks{
  margin-top: 40px;
}
.socialLinks a {
  display: inline-table;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  transition: all 0.3s ease;
}

.socialLinks a.facebook {
  background: #2D5DA1;
}
.socialLinks a.twitter {
  background: #1AB1E5;
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;
  color: #fff;
  font-size: 28px;
}


@-webkit-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-moz-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-o-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@-ms-keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 0;
  }
  50% {
    top: -0.2em;
  }
  70% {
    top: -0.3em;
  }
  100% {
    top: 0;
  }
}

.downSection {
  position: absolute;
  bottom: 20px;
  left: 49.4%;
  cursor: pointer;
}




/* new css ends */